$font-color: #808080
$font-color-highlighted: #555555
$header-bg: #b2b2b2
$header-bottom-border: 1px solid black
$default-transition-len: .4s
$scrollbar-size: 0.375rem
$blue: #5dacff
$row-bg: #f5f5f5
$margin-small: 1rem
$margin-tiny: .4em
$table-width: 73rem
$cell-padding: .7rem