/*********************************************************************************
 *  document.sass                                                                *
 *  Author: Denes Solti                                                          *
 *********************************************************************************/
html
  @import "consts"

  font-size: 14px

  @media (min-width: 85em)
    font-size: 16px

  @media (min-width: 120em)
    font-size: 18px

  @media (min-width: 160em)
    font-size: 24px

  > body
    margin: 0
    background: white

    *
      position: relative

    a
      color: $blue

@media print
  body
    position: static !important
    -webkit-print-color-adjust: exact

@page
  size: auto
  margin: 0
